// Fonts
$font: 'Roboto', sans-serif;

// Colors

$primary-color: #495371;
$secondary-color: #74959A;
$tertiary-color: #F1E0AC;

// Font-size

$text-size: 3rem;

//Fx (Filter)

$drop-shadow: drop-shadow(0 0.4rem 0.4rem #0000002f);