@import '../abstract/variables';

#promo {
    background-color: $tertiary-color;
    padding: 4rem;
    text-align: center;

    .text {
        color: $primary-color;
         
        h2 {
            margin: 2rem;
            font-size: $text-size /1.7;
        }
    }

    .input {
        margin: 0 auto;
        width: 575px;
        border-radius: 20px;
        border: 4px solid white;
        background-color: white;
        filter: $drop-shadow;

        input {
            border-radius: 20px;
            height: 40px;
            border: none;
            width: 540px;
            outline: none;
            text-align: center;
            font-size: 26px;
        }

        &:hover , &:focus-within {
            box-shadow: 1px 1px 8px 1px $primary-color;
            outline: none;
        }
    }

    button {
        text-transform: uppercase;
        margin-top: .75rem;
        outline: none;
        height: 40px;
        text-align: center;
        width: 130px;
        background-color: $primary-color;
        color: $secondary-color;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 40px;
        border: 2px $primary-color;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
            border: $tertiary-color;
        }
    }
}