@import '../abstract/variables';

#services {
    margin: 80px;

    h3 {
        font-size: $text-size / 2.5;
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin: 1rem;
    }
    h4 {
        text-align: center;
        font-size: $text-size / 1.2;
        margin-bottom: 80px;
        font-weight: 300;

    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        
        .card {
            width: 360px;
            text-align: center;
            padding: 0.5rem;
            background-color: #fff;
            filter: $drop-shadow;
            
            h5 {
                font-size: $text-size / 1.5;
                font-weight: 300;
                margin-top: 25px;
                margin-bottom: 20px;
                color: $primary-color;
            }
            p {
                font-size: $text-size / 3;
                font-weight: 300;
                color: $primary-color;
                line-height: 1.25rem;
            }

            .img-container {
                padding-bottom: 20px;
                border-bottom: 3px solid $secondary-color;

                img {
                    max-width: 100%;
                    filter: $drop-shadow;
                }
            }
        }
    }
}